.head {
    background: lightcoral;
    height: calc(100% - 300px);
}
.logo {
    line-height: 90px;
    padding-left: 20px;
    background-color: #002140;
    white-space: nowrap;
    img {
        height: 35px;
    }
    h1 {
        color: #ffffff;
        font-size: 17px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 10px;
    }
}
