:global {
    .ant-menu-inline {
        // color: #3281ff;
        color: #333333;
        .ant-menu-submenu-title {
            span {
                vertical-align: middle;
                height: 16px;
                line-height: 16px;
                display: inline-block;
            }
        }
        .ant-menu-inline.ant-menu-sub .ant-menu-item {
            margin-left: 16px;
            padding-left: 36px !important;
            width: 184px !important;
            // background: #3281ff;
            border-radius: 8px;
            border: 0;
            &.ant-menu-item-selected {
                background-color: rgba(50, 129, 255, 0.08);
                color: #3281ff;
            }
            &::after {
                opacity: 0;
            }
        }
        .iconDiv {
            border-radius: 8px;
        }
        .level1.ant-menu-item-selected {
            // background-color: rgba(50, 129, 255, 0.08) !important;
            background-color: white !important;
            color: #3281ff;
            > .iconDiv {
                background-color: rgba(50, 129, 255, 0.08) !important;
            }
        }
        > .ant-menu-item-selected::after {
            opacity: 0;
        }
    }
}
.slider {
    padding-top: 4px;
}
.icon1,
.icon2,
.icon3,
.icon5,
.icon6,
.icon7,
.icon8,
.icon9,
.icon10,
.icon11,
.icon12,.icon13 {
    display: inline-block;
    background: center url(icon1.png) no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    vertical-align: text-bottom;
}
.icon2 {
    background-image: url(icon2.png);
}
.icon3 {
    background-image: url(icon3.png);
}
.icon5 {
    background-image: url(icon5.png);
}
.icon6 {
    background-image: url(icon6.png);
}
.icon7 {
    background-image: url(icon7.png);
}
.icon8 {
    background-image: url(dashboard.png);
}
.icon9 {
    background-image: url(icon9.png);
}
.icon10 {
    background-image: url(icon10.png);
}
.icon11 {
    background-image: url(algo.png);
}
.icon12 {
    background-image: url(gate.png);
}
.icon13 {
    background-image: url(icon13.png);
}