.curdComponent {
    height: 100%;
    display: flex;
    flex-direction: column;
    .searchWrap {
        flex: 0 0 auto;
    }

    .insertWrap {
        // padding: 1px 24px;
        // flex: 0 0 48px;
        // padding: 0px 24px;
        padding: 22px 32px 0 0;
        flex: 0 0 44px;
        text-align: right;
        button {
            margin-right: 20px;
        }
        > button {
            margin-right: 0px;
        }
        :global {
            .ant-btn-primary {
                background: white;
                border-color: transparent;
                color: rgba(50, 129, 255, 1);
                text-shadow: none;
                box-shadow: none;
                padding: 0 4px;
                height: 24px;
                &:hover {
                    background-color: rgba(50, 129, 255, 0.12);
                }
            }

            button[ant-click-animating-without-extra-node]:after {
                border: 0 none;
                opacity: 0;
                animation: none 0 ease 0 1 normal;
            }
        }
    }
    .pad22 {
        height: 22px;
        margin: 0 32px;
        // box-sizing: content-box;
        border-bottom: solid 1px rgba(235, 235, 235, 1);
        overflow: hidden;
    }
    .tableWrap {
        padding: 0 32px;
        flex: 1;
        overflow: auto;
    }
}
:global {
    .ant-table-header {
        background: #f2f3fc;
    }
    .ant-time-picker {
        width: 174px;
    }
    .ant-modal-header {
        padding: 24px 32px;
        color: #333333;
        border-bottom: 1px solid #e8e8e8;
        border-radius: 8px 8px 0 0;
    }
    .ant-modal-body {
        // padding: 16px 32px 60px !important;
        padding: 24px 32px;
        max-height: 739px;
        overflow-y: auto;
        .ant-radio-wrapper-disabled {
            .ant-radio.ant-radio-disabled .ant-radio-inner {
                background-color: #fff !important;
            }
            .ant-radio-disabled + span {
                color: initial !important;
            }
        }
        .ant-radio-wrapper-checked {
            .ant-radio-checked .ant-radio-inner::after {
                background-color: #1890ff;
            }
            .ant-radio.ant-radio-disabled .ant-radio-inner {
                border-color: #1890ff !important;
            }
            .ant-radio-disabled + span {
                color: initial !important;
            }
        }
        input[readonly] {
            border-color: white;
        }
        .ant-form-inline .ant-form-item-with-help {
            margin-bottom: 0;
        }
    }
    .ant-modal-footer {
        padding: 31px 32px 24px;
    }
    // .ant-form-item {
    //     margin-right: 0px !important;
    // }
    // .ant-form-item {
    //     // margin-bottom: 20ppx;
    //     padding-bottom: unset !important;
    //     .ant-form-item-label {
    //         padding: 0 0 6px;
    //     }
    // }
    // .ant-form-vertical .ant-form-explain {
    //     margin-bottom: 5px;
    // }
}
