.curdComponent {
    height: 100%;
    display: flex;
    flex-direction: column;
    .searchWrap {
        flex: 0 0 auto;
    }

    .insertWrap {
        // padding: 1px 24px;
        // flex: 0 0 48px;
        // padding: 0px 24px;
        padding: 22px 32px 0 0;
        flex: 0 0 44px;
        text-align: right;
        button {
            margin-right: 20px;
        }
        > button {
            margin-right: 0px;
        }
        :global {
            .ant-btn-primary {
                background: white;
                border-color: transparent;
                color: rgba(50, 129, 255, 1);
                text-shadow: none;
                box-shadow: none;
                padding: 0 4px;
                height: 24px;
                &:hover {
                    background-color: rgba(50, 129, 255, 0.12);
                }
            }

            button[ant-click-animating-without-extra-node]:after {
                border: 0 none;
                opacity: 0;
                animation: none 0 ease 0 1 normal;
            }
        }
    }
    .tableWrap {
        // padding: 0 24px;
        flex: 1;
        overflow: auto;
    }
    :global {
        .ant-table-header {
            background: #f2f3fc;
        }
        .ant-time-picker {
            width: 174px;
        }
    }
}
